
/***HeaderBackgroundAdjustments****/
.header {
    height: 8vw;
}
.header-wrapper {
    top: -9vw;
}
.a-graphic-background {
    min-height: 8vw;
}

.gradient-background {
    min-height: 8vw;
}


/*
**********************************************
Header Alexandria CSS
**********************************************
 */

body {
    margin: 0;
}

.initial-search {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

.header-content-container {
    margin-top: -2vw;
}

.combined-search {
    align-items: center;
}

.search-box {
    width: 100%;
    border-radius: 0;
    position: relative;
    font-size: 2vw;
}

.search-box-container {
    height: 3.5vw;
    margin: auto;
}

.flex-item {
flex-grow: 1;
width: 50vw;
text-align: center;
margin: 1vw;
}

.magnifyingglass-container {
    border-radius: 0 0.2em 0.2em 0;
    margin-left: 0;
    border: none;
    background-color: #4A4A4A;
    color: #ffffff;
    font-family: "DIN Alternate", sans-serif;
    font-size: 2vw;
    padding: .6vw 1vw 1vw 1vw;
    cursor: pointer;
}

.magnifyingglass-img {
    max-width: 2vw;
}

.nav {
    display: inline-block;
    margin: 1.5vw 2vw;
    cursor: pointer;
    z-index: 3;
    align-self: flex-start;

}

.white_logo {
    margin: auto;
    padding: 2vw;
}

/*
-------------------------
Dropdown Selector CSS
-------------------------
 */

.search-filter-button {
    border-radius: 0.2em 0 0 0.2em;
    margin-right: 0;
    border: none;
    background-color: #4A4A4A;
    color: #ffffff;
    font-family: "DIN Alternate", sans-serif;
    font-size: 1.5vw;
    padding: 0 1vw;
    cursor: pointer;
}

.dropdown-container {
    position: absolute;
    display: none;
    width: 6vw;
    z-index: 2;
    left: 0;
    background-color: #ffffff;
    padding: 0 1vw;
    border-radius: 1vw;
    border-style: solid;
    border-color: #4A4A4A;

}
.dropdown-list {
    padding: 0;
    margin: 0;
}

.dropdown-item {
    list-style-type: none;
    padding: 1vw 0;
    border-top-style: solid;
    border-color: #4A4A4A;
    border-width: 0.1vw;
}

.dropdown-item-top {
    border: none;
}

.dropdown-button {
    font-size: 1.5vw;
    width: 100%;
    background-color: #ffffff;
    border: none;
}

.dropdown-button:hover {
    font-weight: normal;
}

/*
**********************************************
Product Detail CSS
**********************************************
 */

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.book-img {
    max-width: 30vw;
}


/*
-------------------------
Book Detail Container CSS
-------------------------
 */

.book-detail-container {
    flex-direction: column;
    margin: 4vw 0;
    border-style: solid;
    border-radius: 0.5vw;
    border-width: thin;
    border-color: #4A4A4A;
    padding: 0;
    width: 40vw;
    justify-self: left;
    max-width: 35vw;
}

.book-detail-item {
    padding: 1vw 2vw;
}


/****BookVersionTabs****/


.book-version-tabs {
    background-color: #4A4A4A;
    border-radius: 0.5vw 0.5vw 0 0;
}

.version-tab {
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    border-radius: 0.5vw 0.5vw 0 0 ;
    border-style: solid;
    border-color: #4A4A4A;
    border-width: thin;
    text-align: center;
    cursor: pointer;
    font-size: 2vw;
}

.version-tab--active {
    background-color: #ffffff;
    color: #4A4A4A;
    border-color: #ffffff;
    cursor: auto;
}

/****DetailText****/

.book-detail-title {
    font-weight: normal;
    font-size: 2vw;
}

.book-detail-author {
    font-weight: lighter;
    font-size: 2vw;
}

.book-detail-details {
    font-weight: normal;
    font-size: 2vw;
    border-bottom-style: solid;
    border-width: 0.1vw;
    margin-bottom: 1vw;
}

/*
**********************************************
Rental Period Selector CSS
**********************************************
 */

.rental-period-container {
    width: 35vw;
    background-color: #ffffff;
    position: absolute;
    top: 12vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0.5vw;
    z-index: 4;
}

.rental-header-text {
    font-family: "DIN Alternate", sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 2.5vw;
}

.rental-period-header {
    background: linear-gradient(90deg, #574BCD 15%, #2999AD, #35C092, #41E975);
    border-radius: 0.5vw 0.5vw 0 0;
    padding: 1vw;
    display: flex;
}

.exit-icon {
    cursor: pointer;
}

.exit-icon-bar {
    width: 3vw;
    height: 0.1vw;
    background-color: #ffffff;
    margin: 1vw;
}

.exit-bar-one {
    transform: rotate(-45deg) translate(-0.5vw);
}

.exit-bar-two {
    transform: rotate(45deg) translate(-0.7vw, -0.3vw);
}


.rental-period-contents {
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}

.rental-period {
    border-style: solid;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
    border-color: #5155C9;
    border-radius: 0.5vw;
    margin-bottom: 2vw;
    border-width: 0.1vw;
    cursor: pointer;
}

.rental-period--selected {
    background-color: #5155C9;
}

.rental-period:hover {
    background-color: #5155C9;
}

.rental-period:hover p {
    color: #ffffff;
}

.rental-period-text {
    color: #5155C9;
    font-weight: normal;
    padding: 1vw;

}

.rental-period-text--selected {
    color: #ffffff;
}









/*
**********************************************
Dark Footer CSS
**********************************************
 */

.footer {
        background: linear-gradient(90deg, #574BCD 15%, #2999AD, #35C092, #41E975);
}

.text-white {
    color: #ffffff;
}







